* {
 outline: dotted 1px #999;
}

body {
 font-family: sans-sarif;
}
a {
  color: #FF8558;
}

h1 {
 font-family: 'Ubuntu', sans-serif;
 font-weight: bold;
 font-size: 36px;
 color: #FFD9C7;
}
h2 {
 font-family: 'Ubuntu', sans-serif;
 font-weight: bold;
 font-size: 36px;
 color: #FF8558;
 margin-bottom: 10px;
}

header {
 background: #fff;
 height: 280px;
 margin-bottom: 40px;
 postion: relative;
}

header div {
 width: 960px;
 margin: 0 auto;

}
header h1 {
 position: absolute;
 margin-left:420px;
 margin-top: 108px;
}

header div img {
 padding-top:20px;
 padding-left: 165px;
 margins: 15 auto 15;
}

nav {
 color: #FF8558;
 margin-top: 20px;
 padding-left: 165px;
 text-align: center;
 font-family: 'Ubuntu', sans-serif;
 font-size: 22px;
}

.menu li {
 display: inline-block;
 float: left;
 margin-right: 55px;
 margin-bottom: 10px;
 /* background-color: #555;
 padding: 10px 20px 10px 20px; */
}

main {
 font-family: 'Ubuntu', sans-serif;
 font-size: 18px;
 font-weight: bold;
 color: #FF8558;

}

main content div {
 margin-bottom: 30px;
 margin-left: 30px;
 padding: 30px;
 width: 250px;
}

main content div li {
 margin-bottom: 30px;
}



.sales-div {
   width: 960px;
 margin: 0 auto;
}

.sales-ul {
 position: relative;

}

content div ul img {
 /* margin-bottom: 30px;  // adds white box under images*/
}

content div ul p {
 position: absolute;
 margin-left: 20px;
 margin-top: 20px;

}

.sales-li {
 float:left;
 margin-right: 30px;
 box-shadow: 0px 0px 20px #999;
}

.sales-li:last-child {
 margin-right: 0px;
}

.overlay {
  position:absolute;
  top: 200px;
  right: 0px;
  /* text-shadow: 0px 0px 20px #999; */
  color: #FF8558;
  background-color: #555;
  padding: 10px 20px 10px 20px;

}
.image-li {
  float:left;
  width: 300px;
  margin-right: 30px;
  /* box-shadow: 0px 0px 20px #999; */
  position:relative;
}

.image-li:last-child {
  margin-right: 0px;
}

.salmon-table-div {
  width: 960px;
  padding: 50px;
}

table {
  margin: 50px;
  width: 960px
  background-color: #999;
  width: 100%;
}

th {
  color: #FFD9C7;
  background-color: #333;
  padding: 10px;
}

tr td {
  border: 1px solid #333;
  background-color: #666;
  padding: 10px;
  text-align:center;
}

tr:last-child {
  color: #37E0D2;

}
td:last-child {
  color: #37E0D2;

}
