 /** {
  outline: dotted 1px #999;
}*/

body {
  font-family: sans-sarif;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #FFD9C7;
}

header {
  background: #fff;
  height: 280px;
  margin-bottom: 40px;
  postion: relative;
}

header div {
  width: 960px;
  margin: 0 auto;

}
header h1 {
  position: absolute;
  margin-left:420px;
  margin-top: 108px;
}

header div img {
  padding-top:20px;
  padding-left: 165px;
  margins: 15 auto 15;
}

nav {
  color: #FF8558;
  margin-top: 20px;
  padding-left: 165px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
}
.menu li {
  display: inline-block;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

main {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #FFD9C7;
  width: 960px
  align: 0 auto;

}



.sales-div {
    width: 960px;
  margin: 0 auto;
}

.sales-ul {
  position: relative;
}

content div ul img {
  margin-bottom: 30px;
}

content div ul p {
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;

}

.sales-li {
  float:left;
  margin-right: 30px;
  box-shadow: 0px 0px 20px #999;
}

.sales-li:last-child {
  margin-right: 0px;
}
